.my-header{    
    font-size: 24px;
    font-weight: 400;
    color: #0b4e9f;
    text-shadow: 0px 0px 2px #adc3df, 0px 0px 2px #a5bedc, 0px 0px 2px #6891c4, 0px 0px 2px #a6bedc;
}

.my-title{    
    font-size: 16px;
    font-weight: 400;
    color: #0b4e9f;
    text-shadow: 0px 0px 2px #adc3df, 0px 0px 2px #a5bedc, 0px 0px 2px #6891c4, 0px 0px 2px #a6bedc;
    margin: auto;
}

.btn-xs {
    padding: 0.08rem 0.28rem;
    font-size: 0.765625rem;
    border-radius: 4px;
}